@import "_variables.scss";
@import "_mixins.scss";

html {
   font-size: 10px;
}

* {
   box-sizing: border-box;
   list-style-type: none;
   margin: 0;
   padding: 0;
   border: 0;
   text-decoration: none;
}

a {
   color: inherit;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
}

li:hover {
   color: $color-black;
}

.container {
   max-width: 120rem;
   margin: 0 auto;
   width: 100%;
}

.text {
   @include font_16;
   color: $color-brown;
}

.text-title {
   font-family: Playfair Display;
   text-align: center;
   @include font_36;
   letter-spacing: 0.02em;
   color: $color-brown;
}

.btn:hover {
color: $color-brown2;
background-color: $color-white;
border: 1px solid $color-brown2;
}


/* header */
.header {
   border-top: 0.1rem solid $color-brown;
   border-bottom: 0.1rem solid $color-brown;
   margin-bottom: 8.2rem;
   margin-top: 2.6rem;

   &__section {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
   }
}

.header__list {
   margin: 2.2rem 0;
}


/* heading */
.heading {
   margin-bottom: 4.8rem;

   &__main {
      display: flex;

      &_title {
         font-family: Playfair Display;
         @include font_44;
         color: $color-brown;
         margin-bottom: 2.4rem;

         & span {
            font-style: italic;
         }
      }

      &_text {
         @include font_24;
         color: $color-brown;
         margin-bottom: 6.4rem;
      }

      &_btn {
         color: $color-white;
         background: $color-brown2;
         border-radius: 4rem;
         padding: 3rem 7rem;
      }

      &_pic-1 {
         display: flex;
         align-items: flex-end;
         margin: 5.8rem 2rem 0 2.3rem;
      }

      &_pic-2 {
         display: flex;
         align-items: flex-start;
      }
   }
}


/* our-pluses */
.our-pluses {
   margin-bottom: 8rem;

   &__wrap {
      display: flex;
   }

   &__content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 33.33%;

      &-text {
         margin-left: 2rem;
         max-width: 28.5rem;
      }
   }

   &__title {
      margin-bottom: 0.8rem;
   }
}


/* our-products */
.our-products {
   margin-bottom: 8rem;
   display: flex;
   justify-content: center;

   &__title {
      text-align: center;
      letter-spacing: 0.02em;
      color: $color-brown;
      margin-bottom: 3.6rem;
   }

   &__content-wrap {
      margin-right: 2rem;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      max-width: 79.4rem;
   }

   &__content {
      margin-top: 6.3rem;

      &-title {
         @include font_24;
         color: $color-brown;
         margin-bottom: 2rem;
      }

      &-span {
         margin-top: 2.4rem;
         margin-bottom: 2.4rem;
      }
   }

   &__price {
      @include font_24;
      color: $color-brown;
   }

   &__btn {
      margin-top: 6.4rem;
      padding: 3rem 10.5rem;
      color: $color-white;
      background: $color-brown2;
      border-radius: 4rem;
   }

   &__nav {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      margin-top: 2.4rem;
   }

   &__nav-right {
      margin-left: 2rem;
   }
}

.slider-btn {
   background-color: $color-white;
   fill: $color-brown2;

   &:hover {
      fill: $color-black;
   }
}


/* galery */
.galery {
   margin-bottom: 8rem;
}
.cards {
   display: flex;
   flex-wrap: wrap;
}
.card {
   position: relative;
   margin-bottom: 8rem;
   max-width: 38.7rem;

   &:hover .card-overlay {
      opacity: 1;
   }

   &_img {
      max-width: 100%;
      height: auto;
   }

   &-big {
      background-color: $color-brown;
      display: flex;

      &-content {
         padding: 4rem 12.1rem 6.4rem 10.2rem;
      }

      &__title {
         font-family: Playfair Display;
         @include font_44;
         margin-bottom: 2.4rem;
         letter-spacing: 0.02em;
         color: $color-white;
      }

      &__text {
         @include font_24;
         color: $color-white;
      }

      &__img {
         display: block;
      }
   }

   &:hover {
      -webkit-box-shadow: 0.6rem 0.4rem 3.5rem rgba(0, 0, 0, 0.21);
      box-shadow: $box-shadow;
   }

   &-overlay {
      background: rgba(174, 124, 120, 0.6);
      border-radius: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
   }

   &__text {
      color: $color-white;
   }

   &__btn {
      text-align: center;
      letter-spacing: 0.02em;
   }

   &-2 {
      margin-left: 1.9rem;
      margin-right: 1.9rem;
   }
}


/* four-step */
.four-step {
   margin-bottom: 8rem;

   &__title {
      margin-bottom: 3.6rem;
   }

   &__wrap {
      display: flex;
   }

   &__content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      text-align: center;

      &-title {
         margin-top: 0.8rem;
         margin-bottom: 0.8rem;
      }
   }
}


/* our-news */
.our-news {
   margin-bottom: 8rem;

   &__content {
      display: flex;
      justify-content: space-between;

      &-text {
         display: flex;
         flex-direction: column;
         max-width: 36.5rem;
      }
   }

   &__title {
      padding-top: 7rem;
      text-align: left;
   }

   &__text {
      text-align: left;
      margin-top: 4rem;
      margin-bottom: 4rem;
      @include font_24;
      color: $color-brown;
   }

   &__social {
      display: flex;
      justify-content: flex-start;
   }

   &__photo {
      display: flex;
      max-width: 69.2rem;
      margin: 0 auto;
   }
}

.social_logo_rev {
   fill: $color-brown2;

   &:hover {
      fill: $color-black;
   }
}

.our-news__photo-1, 
.our-news__photo-2, 
.our-news__photo-3 {
   flex-grow: 1;
}

.big {
   max-height: 46rem;
}

.small-wrap {
   flex-basis: 28.5rem;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
   margin-right:2rem;
}

.small {
   flex-basis:50%;
   max-height: 28.5rem;
}

.our-news__photo-1 {
   margin-bottom: 2rem;
}


/* review */
.review {
   padding: 4rem 4.4rem 6.4rem;
   margin-bottom: 8rem;

   &__title {
      margin-bottom: 4rem;
   }

   &__wrapper {
      display: flex;
      text-align: center;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__text {
      margin-bottom: 1.6rem;
   }

   &__autor {
      font-weight: 500;
   }
}

.wrap {
   padding: 4rem 4.4rem 6.4rem;
   border: 0.1rem solid $color-brown;
   box-sizing: border-box;
}


/* map */
.map__info__title {
   margin-bottom: 4.2rem;
   text-align: start;
}

dd {
   margin-bottom: 3.2rem;
}

.map__wrap {
   position: relative;
}

.map__info {
   display: flex;
   align-items: center;
   flex-direction: column;
   position: absolute;
   background: $color-white;
   box-shadow: $box-shadow2;
   border-radius: 1.2rem;
   padding: 4rem 10.8rem 0 3.5rem;
   top: 5.2rem;
   left: 10.2rem;
   max-width: 38.6rem;
   text-align: start;
}

.map__map {
   max-width: 100%;
}


/* footer */
.footer {
   background: $color-brown;
   max-height: 9.7rem;

   &__wrap {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
   }

   &__logo {
      margin: 2.4rem auto 4rem 0;
   }

   &__nav {
      color: $color-white;

      &:nth-child(even) {
         margin-left: 6.8rem;
         margin-right: 6.8rem;
      }
   }

   &__item {
      padding-top: 3rem;
      padding-bottom: 4.7rem;
   }

   &__social {
      margin-left: auto;

      &_logo {
         fill: $color-white;

         &:hover {
            fill: $color-black;
         }
      }
   }
}

.list {
   display: flex;
}

.even {
   margin-left: 2rem;
   margin-right: 2rem;
}